<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Face_Handler_App" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\ProgramData\miniconda3\envs\Face_Recognition_v3\python.exe|C:\inetpub\wwwroot\Face_Recognition\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>


